body {
    font-family: Arial, sans-serif;
    background-color: #232323;
    color: #eeeeee;
    text-align: center;
    padding: 20px;
}

.main {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

h1 {
    color: rgb(118, 199, 132);
}

h2 {
    color: #61ac61;
}

.info-box,
.video-box,
.control-box {
    background: #2d2d2d;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.control-box input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #61ac61;
    background-color: white;
    color: black;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.control-box label {
    color: #61ac61;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.video-box {
    width: 800px;
    max-width: 800px;
}


.info-box:hover,
.video-box:hover,
.timer-box:hover {
    background: #333333;
}

.info-box,
.timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

p {
    font-size: 1.5em;
    color: #fefefe;
}

img {
    width: 100%;
    border-radius: 4px;
    border: 2px solid rgb(118, 199, 132);
}

.timing-entry {
    display: flex;
    flex-direction: column;
    padding: 10px;

}