body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 20px;
}

.main {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #ffcc00;
}

.info-box, .video-box {
    background: #333;
    padding: 20px;
    /* border-radius: 10px; */
    margin: 20px 0;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
}

.info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: 1.5em;
}

img {
    width: 100%;
    border-radius: 10px;
}
