<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IguanaGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main">
        <h1>IguanaGuard Dashboard</h1>
        <div class="content">
            <div class="video-box">
                <h2>Feed</h2>
                <img src="{{ url_for('video_feed') }}" alt="Video Feed">
            </div>
            <div class="info-box">
                <div class="info-entry">
                    <h2>CPU Temperature</h2>
                    <p>{{ temperature }} °C</p>
                </div>
                <div class="info-entry">
                    <h2>CPU Usage</h2>
                    <p>{{ cpu_usage }} %</p>
                </div>
                <div class="slider-container">
                    <h2>Confidence</h2>
                    <!-- <label for="confidence">Confidence Threshold: <span id="conf-value">0.5</span></label> -->
                    <input type="range" id="confidence" min="0.1" max="1.0" step="0.05" value="0.5">
                </div>
            </div>
        </div>
        <!-- <div class="timer-box">
            <h2>Duration</h2><br />
            <p>{{ detected_time }}</p>
            <h2>State</h2><br />
            <p>{{ state }}</p>
        </div> -->

    </div>


    <!-- <script>
        function updateConfidence(value) {
            document.getElementById('conf-value').innerText = value;
            fetch('/set_confidence', {
                method: 'POST',
                body: new URLSearchParams({ 'confidence': value }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            });
        }
    </script> -->
</body>

</html>